<div class="clickable-component" (click)="onComponentClick(product.id)">
<div class="card h-100 shadow-sm">
  <img [src]="product.images[0]" class="card-img-top img-fluid card-img-custom" alt="{{ product.title }}">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <h5 class="card-title mt-auto">{{ product.price }} $</h5>

    <div class="d-flex justify-content-between align-items-center">
      <span [ngStyle]="{ color: getColor() }">{{ getState() }}</span>
      @if (product.stock > 0){
        <a class="btn btn-primary" (click)="addToPanier($event)">Add To Cart</a>
      }
    </div>
  </div>
</div>
</div>
