<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="#">3eskariShop</a>
    <img src="asfar.png" height="50" width="50" class="d-inline-block align-text-top me-5">

    <!-- Navigation Links -->
    <ul class="navbar-nav d-flex flex-row me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item ms-3">
        <a routerLink="/panier" class="nav-link">
          Cart
          <i class="fa fa-shopping-cart ms-1" aria-hidden="true"></i>

        </a>
      </li>
      <li class="nav-item ms-3">
        <a routerLink="/profile" class="nav-link">
          Profile
          <i class="fa fa-user ms-1" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <button class="primary" (click)="showLo()">Show Local Storage</button>

    
    @if(!loggedIn){
    <button class="btn btn-outline-light" type="button" (click)="signIn()">
      Sign in
    </button>} @else {
      <button class="btn btn-outline-light" type="button" (click)="signOut()">
        Sign Out
      </button>
    }

    <!-- Form with Search and Category Dropdown -->
    <form class="d-flex align-items-center">
      <!-- Search Input -->
      <div class="search-container position-relative me-2">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchKey"
          (ngModelChange)="onSearchByKey()"
          list="productSuggestions"
          placeholder="Search for products"
          aria-label="Search"
          name="searchKey"
        />
        <i class="fa fa-magnifying-glass position-absolute end-0 top-50 translate-middle-y text-light me-2"></i>

        <!-- Datalist for product suggestions -->
        <datalist id="productSuggestions">
          <option *ngFor="let product of filteredProducts" [value]="product.name"></option>
        </datalist>
      </div>

      <!-- Category Dropdown -->
      <select
        class="form-control me-2"
        [(ngModel)]="selectedCategory"

        name="selectedCategory"
      >
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>

      <!-- Search Button -->
      <button class="btn btn-outline-light" type="button" (click)="search()">
        Search
      </button>
    </form>
  </div>
</nav>
