<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">ECOM</a>
      <ul class="navbar-nav d-flex flex-row me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Accueil</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link">Page 1</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link" href="#" (click)="showPanier()">Mon Panier</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Rechercher</button>
      </form>
    </div>
</nav>
