<div class="container mt-4">
  <h2>Cart</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index; trackBy: trackByIndex">
        <td><img [src]="item.produit.images[0]" alt="product image" width="50"></td>
        <td>{{ item.produit.title }}</td>
        <td>{{ item.produit.price }}</td>
        <td>
          <button class="btn btn-secondary btn-sm" (click)="decreaseQuantity(i)">-</button>
          <input
            type="number"
            [(ngModel)]="item.quantite"
            (ngModelChange)="updateQuantite(i, item.quantite)"
            min="1"
            class="form-control d-inline"
            style="width: 60px;"
          />
          <button class="btn btn-secondary btn-sm" (click)="increaseQuantity(i)">+</button>
        </td>
        <td>{{ item.produit.price * item.quantite }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            (click)="removeItem(i)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
    
  </table>

  <div class="text-end">
    <h4>Total: {{ calculateTotal() }}</h4>
  </div>

  <button
    class="btn btn-primary"
    (click)="validerPanier()"
    [disabled]="items.length === 0"
  >
    Validate Cart
  </button>
</div>
