<div class="container mt-4">
    <h2>Panier</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        @for(item of items; track $index){


        <tr>
          <td>{{ item.produit.title }}</td>
          <td>{{ item.produit.price }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.produit.price * item.quantite }}</td>
        </tr>

        }

      </tbody>
    </table>
    <button class="btn btn-primary">Valider le Panier</button>
  </div>
