<div class="container mt-5" *ngIf="product"> <div [innerHTML]="jsonLD"></div> 

  <div class="row">
    <div class="col-md-6">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            *ngFor="let image of product.images; let i = index"
            class="carousel-item"
            [ngClass]="{ 'active': i === 0 }"
          >
            <img [src]="image" class="d-block w-100 img-fluid" 
                 alt="Achat {{ product.title }} pas cher au Maroc" 
                 loading="lazy" />
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <h1>{{ product.title }}</h1>
      
      <p class="text-muted">{{ product.description }}</p>
      <h4>{{ product.price }} $</h4>
      <span [ngStyle]="{ color: getColor() }">{{ getState() }}</span>
      <br/>
      <a class="btn btn-primary" (click)="addToPanier()">Add To Panier</a>
    </div>
  </div>

  <div class="comment-section">
     <div *ngFor="let comment of filteredComments" class="comment-card">
        <div class="comment-header">
          <div class="user-info">
            <span class="user-name">{{ comment.user.name }} {{ comment.user.lastname }}</span>
            <span class="comment-date">{{ comment.date | date:'dd MMM yyyy' }}</span>
          </div>
          <div class="rating">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <span [class.filled]="i < comment.rating">★</span>
            </ng-container>
          </div>
        </div>
        <div class="comment-body">
          <p>{{ comment.comment }}</p>
        </div>
      </div>
  </div>
    
  <div>
      <h3>Add Comment and Rating</h3>
      <button (click)="toggleCommentForm()" class="btn btn-primary">
        Add Comment and Rating
      </button>

      <form *ngIf="isFormVisible" [formGroup]="commentForm" (ngSubmit)="addComment()">
        <div class="form-group">
          <label for="comment">Add comment</label>
          <textarea id="comment" formControlName="comment" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <input id="rating" formControlName="rating" type="number" min="1" max="5" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="isFormVisible = false">Cancel</button>
      </form>
  </div>

</div>